* {
    font-family: ui-monospace, Menlo, Consolas, Monaco, monospace;
    font-weight: bold;
    color: #27124f;
}
body {
    background-color: rgb(134,218,255);
}
header {
    text-align: center;
}
.playground {
    padding: 20px;
    border-radius: 8px;
    border: solid 3px #27124f;
    background-color: rgb(49,162,76);
    text-align: center;
    width: 50%;
    min-height: 173px;
    margin: auto;
    box-shadow: 1px 1px 2px #2323237e;
}
button {
    background-color: rgb(168,124,255);
}
#text {
    text-align: left;
    color: rgb(228,230,235);
    text-shadow: 1px 1px 2px #2323237e;
}
